@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

sup {
    font-size: 0.6em;
}

hr {
    padding: 0;
    margin: 30rem 0;
    border: none;
    border-top: 1px solid #e4e4ec;
}



figure {
    margin: 0;
}

h1 {
    margin-top: 0;
    color: #24242b;
    font: 30rem "Roboto Slab";
}

h2 {
    color: #24242b;
    font: 24rem "Roboto Slab";
}

h3 {
    margin-bottom: 5rem;
    color: #1f1f56;
    text-transform: uppercase;
    font-size: 14rem;
    font-weight: bold;
}

h3 b {
    text-transform: lowercase;
}

.wrapper {
    margin: 0 auto;
    padding-left: 15rem;
    padding-right: 15rem;
    max-width: 960rem;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    column-gap: 25rem;
    row-gap: 25rem;
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.padding-top-none {
    padding-top: 0;
}

/* top menu line */
.header-line {
    padding: 17rem 0;
    background-color: #1f1f56;
}

.main-header-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 15rem;
    padding-left: 15rem;
}

/* burger menu */
.burger-menu {
    display: block;
}

.burger {
    display: block;
    width: 25rem;
    height: 1.2rem;
    background-color: #fff;
}

.burger+.burger {
    margin-top: 6rem;
}

/* main menu */
.header-menu {
    display: none;
    flex-wrap: wrap;
}

.header-menu li {
    margin-right: 22rem;
}

.header-menu a {
    color: #b1b1b2;
    font-size: 14rem;
    letter-spacing: 2rem;
    text-decoration: none;
    cursor: url(../cursor/cursor.cur), auto;
}

.header-menu a:hover {
    color: #fd8300;
}

/* social networks menu */
.social {
    display: flex;
    align-items: center;
}

.social li+li {
    margin-left: 23rem;
}

.social a {
    display: block;
    background: url(../img/sprayt.png) no-repeat;
    cursor: url(../cursor/cursor.cur), auto;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;
}

a.fb:hover {
    background-position: 0 -21px;
}

a.tw {
    height: 15px;
    width: 18px;
    background-position: -12px 0;
}

a.tw:hover {
    background-position: -12px -21px;
}

a.in {
    height: 19px;
    width: 19px;
    background-position: -32px 0;
}

a.in:hover {
    background-position: -32px -21px;
}

/* Header info */
.header-info {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30rem;
    padding-bottom: 30rem;
}

/* logotype */
.logo {
    max-width: 220rem;
    width: 100%;
}

.logo a {
    cursor: url(../cursor/cursor.cur), auto;
}

.logo img{
    width: 100%;
}

/* Mobile Phones */
.phone,
.message {
    padding-left: 32rem;
}

.phone p:first-child,
.message p:first-child {
    margin-bottom: 10rem;
}

.phone-number,
.email,
.skype {
    position: relative;
}

.phone-number::before,
.email::before,
.skype::before {
    content: '';
    position: absolute;
    left: -29px;
    top: 3px;
    background-image: url(../img/sprayt.png);
}

.phone-number::before {
    height: 17px;
    width: 16px;
    background-position: -53px 0;
}

.email::before {
    height: 13px;
    width: 18px;
    background-position: -71px 0;
}

.skype::before {
    height: 19px;
    width: 18px;
    background-position: -90px 0;
}

.phone a {
    color: #25252c;
    text-decoration: none;
    font-size: 18rem;
    font-weight: bold;
    transition: .2s ease all;
    cursor: url(../cursor/spatula.cur), auto;
}

.phone a:hover {
    color: #fd8300;
}

/* How to contact us */
.message a {
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
    transition: .2s ease all;
    cursor: url(../cursor/spatula.cur), auto;
}

.message a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
}

.line::before {
    content: '';
    position: absolute;
    display: none;
    left: -20px;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}

/* call to action*/
.cta a {
    display: inline-block;
    padding: 14rem 30rem;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25rem;
    border: 2px solid #fd8300;
    transition: .1s ease all;
    cursor: url(../cursor/spatula.cur), auto;
}

.cta a:hover {
    color: #fd8300;
    border: 2px solid #1f1f56;
    background-color: #1f1f56;
}

/* proposal */
.offer {
    padding: 50rem 35rem;
    text-align: center;
    background: #131301 url(../img/background-offer.jpg)center / cover;
}

.offer p {
    margin: 0;
}

.prop-header-line {
    color: #fff;
    font-size: 30rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

p.prop-descrip {
    margin: 10rem 0;
    color: #fff;
    font-size: 14rem;
}

.prop-price {
    font-size: 24rem;
    color: #fd8300;
}

.prop-price b {
    font-size: 40rem;
}

main {
    flex-wrap: wrap-reverse;
    padding: 35rem 0 40rem;
}

.about-as {
    max-width: none;
    width: 100%;
}

.main-text p {
    font-size: 14rem;
    line-height: 24rem;
    color: #666;
}

.main-text a {
    color: #fd8300;
    font-size: 14rem;
    font-weight: bold;
    transition: .2s ease all;
    cursor: url(../cursor/spatula.cur), auto;
}

.main-text a:hover {
    text-decoration: none;
}

/* Popular projects Hata Plus */
.popular-projects-line {
    flex-wrap: wrap;
    justify-content: center;
}

.house {
    position: relative;
    /* width: 100%; */
}

.house p {
    margin: 0;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}

.house a {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: url(../cursor/spatula.cur), auto;
}

.house img {
    /* width: 100%; */
    max-width: 220rem;
    max-height: none;
}

.house a:hover~h3 {
    text-decoration: underline;
}

/* aside menu */

aside {
    width: 100%;
}

.aside-menu {
    width: 100%;
}

.aside-menu p {
    margin: 0;
    padding: 12rem 15rem;
    color: #fff;
    font-size: 16rem;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    border-radius: 3rem 3rem 0 0;
}

.sidebar-menu>li {
    background-color: #e4e4ec;
    cursor: url(../cursor/cursor.cur), auto;
}

.sidebar-menu>li+li {
    border-top: 1px solid #cdcddd;
}

.sidebar-menu>li>a {
    position: relative;
    display: block;
    color: #25252c;
    font-size: 14rem;
    text-decoration: none;
    padding: 12rem 15rem;
    transition: .2s ease all;
}

.sidebar-menu>li:last-child{
    border-radius: 0 0 3rem 3rem;
}


.sidebar-menu>li>a::before {
    content: '';
    position: absolute;
    top: 15rem;
    right: 15rem;
    width: 7rem;
    height: 7rem;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.sidebar-menu>li:hover>a {
    color: #fff;
}

.sidebar-menu>li:hover {
    background-color: #fd8300;
}

.sidebar-menu>li:hover .sub-menu {
    display: block;
}

.sidebar-menu>li:hover a::before {
    border: none;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.sub-menu {
    display: none;
}

.sub-menu a {
    display: block;
    padding: 12rem 15rem 12rem 30rem;
    color: #666;
    text-decoration: none;
    font-size: 14rem;
    background-color: #e4e4ec;
    transition: .2s ease all;
    cursor: url(../cursor/cursor.cur), auto;
}

.sub-menu a:hover {
    background-color: #cecedd;
}


/* The upper part of the footer */
.footer-top-wrapper {

    background-color: #ededf5;
}

.footer-top {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40rem 30rem;
}

.footer-top-w {
    box-sizing: border-box;
}

.footer-menu a {
    color: #666;
    text-decoration: none;
    font-size: 14rem;
    line-height: 26rem;
    transition: .2s ease all;
    cursor: url(../cursor/spatula.cur), auto;
}

.footer-menu a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.footer-bottom {
    padding: 14rem 0;
    background-color: #dcdce6;
}

.footer-bottom p {
    margin: 0;
    color: #9999a6;
    text-align: center;
    font-size: 13rem;
    line-height: 18rem;
}











.table-price {
    padding-top: 30rem;
    padding-bottom: 33rem;
}

.table-wrapper{
    overflow-x: scroll;
    margin-bottom: 27rem;
}

.table-wrapper-contact{
    overflow-x: scroll;
}

.table-wrapper::-webkit-scrollbar,
.table-wrapper-contact::-webkit-scrollbar{
background-color: #fd8300;
border-radius: 0 0 3rem 3rem;
}

.table-wrapper::-webkit-scrollbar-thumb,
.table-wrapper-contact::-webkit-scrollbar-thumb{
    background-color: #1f1f56;
border-radius: 0 0 3rem 3rem;

}

.table {
    min-width: 780px;
    border-collapse: collapse;
    border-radius: 3rem;
    overflow: hidden;
}

.contact-table table{
    min-width: 780px;
}

.table thead {
    background-color: #1f1f56;
}

.table th {
    padding: 14rem 21rem;
    color: #fff;
    text-align: left;
    font: 14rem "Roboto Slab";
}

.table th:last-child,
.table td:last-child {
    text-align: right;
}

.table tbody tr {
    background-color: #e4e4ec;
    cursor: url(../cursor/spatula.cur), auto;
}

.table tbody tr+tr {
    border-top: 1px solid #cdcddd;
}


.table tbody tr:hover {
    background-color: #fd8300;
}

.table tbody tr:hover td {
    color: #fff;
    font-size: 14rem;
}

.table td {
    padding: 12rem 21rem;
    color: #666;
    font-size: 14rem;
}

.table-price h1+p {
    margin: 0 0 26rem;
    max-width: 800rem;
    font-size: 14rem;
    line-height: 24rem;
    color: #666;
}

.table-price p {
    margin: 0 0 5rem;
    color: #666;
    font-size: 13rem;
}

p.last-p {
    margin-bottom: 25rem;
}

.table-price p>a {
    display: block;
    color: #fd8300;
    text-decoration: underline;
    font-size: 14rem;
    font-weight: bold;
    transition: .2s ease all;
    cursor: url(../cursor/spatula.cur), auto;
}

.table-price p>a:hover {
    text-decoration: none;
}









/* contact table */
.contact-table {
    padding-top: 40rem;
    padding-bottom: 31rem;
}

table {
    width: 100%;
}

.contact-table th {
    padding-bottom: 5rem;
    text-align: left;
}

.contact-table th a {
    color: #24242b;
    text-decoration: none;
    font-size: 14rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.contact-table td {
    padding-bottom: 5rem;
    width: 330rem;
    color: #666;
    font-size: 14rem;
}

.contact-table td a {
    color: #25252c;
    text-decoration: none;
    font-size: 18rem;
    font-weight: bold;
}

.contact-table address {
    font-style: normal;
}

.contact-table td a:hover {
    color: #fd8300;
}

.contact-table .not-bold {
    color: #25252c;
    font-weight: normal;
    font-size: 16rem;
}

/* forma */
.map {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 310rem;
}

.map iframe {
    position: absolute;
    top: -90rem;
    left: -1rem;
    width: 100%;
    min-height: 400rem;
    border: none;
}

.forma-bloc {
    flex-wrap: wrap-reverse;
}

.contacts-h2 {
    color: #24242b;
    font-size: 14rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.forma-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 9rem;
    column-gap: 9rem;
}

form {
    width: 100%;
}

input,
textarea{
    font-size: 13rem;
}

input {
    padding: 10rem 15rem;
    width: 100%;
    outline: none;
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
    border-radius: 3rem;
}

textarea{
    margin-bottom: 12rem;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 100%;
    min-height: 106rem;
    padding: 10rem 15rem;
    box-sizing: border-box;
    border: 1px solid #c5c5d4;
    border-radius: 3rem;    
    outline: none;
}

.margin-bottom{
    margin-bottom: 10px;
}

.send {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.send p a {
    display: inline-block;
    margin-right: 50rem;
    padding: 12rem 30rem;
    color: #fff;
    text-decoration: none;
    font-size: 14rem;
    font-weight: bold;
    border-radius: 21rem;
    background-color: #fd8300;
    transition: .2s ease all;
}

.send p a:hover {
    color: #fd8300;
    background-color: #1f1f56;
}

.c {
    position: relative;
    margin: 0 0 10rem 25rem;
}

.arrow {
    display: none;
}

.arrow+label::after,
.arrow+label::before {
    content: '';
    position: absolute;
}

.arrow+label::before {
    top: 0;
    left: -35rem;
    margin: 0 10rem;
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
}

.arrow:checked+label::after {
    content: '';
    position: absolute;
    top: 3.7rem;
    left: -22rem;
    width: 8rem;
    height: 5rem;
    border-bottom: 2px solid #1f1f56;
    border-left: 2px solid #1f1f56;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

div.send>input {
    width: 16rem;
    height: 16rem;
}

.send p {
    margin: 0;
    font-size: 13rem;
    color: #666;
}

@media screen and (min-width:442px) {
    .send {
        flex-wrap: nowrap;
    }

}

@media screen and (min-width:692px) {
    .wrapper {
        box-sizing: content-box;
    }

    .burger-menu {
        display: none;
    }

    .header-menu {
        display: flex;
    }

}

@media screen and (min-width:720px) {
    .table-wrapper-contact{
        overflow-x: auto;
    }
    .footer-top{
        justify-content: space-between;
    }
}

@media screen and (min-width:900px) {
    .table-wrapper{
        overflow-x: auto;
    }
}

@media screen and (min-width:960px) {
    .header-info {
        justify-content: space-between;
    }

    .line::before {
        content: '';
        display: block;
    }

}

@media screen and (min-width:990px) {
    .about-as {
        max-width: 715rem;
    }

    aside {
        max-width: 220rem;
    }

    .aside-menu {
        position: sticky;
        top: 35rem;
        margin-bottom: 20rem;
        width: 220rem;
        border-radius: 3rem;
        overflow: hidden;
    }

    .popular-projects h2{
        text-align: left;
    }

    .popular-projects-line{
        justify-content: space-between;
    }

    .forma-line{
        flex-wrap: nowrap;
    }

    .forma-bloc{
        flex-wrap: nowrap;
    }

    textarea {
        display: inline-block;
        max-width: 467rem;
    }

}



@media screen and (min-width:1500px) {
    html {
        font-size: 1.3px;
    }

    .phone-number::before,
    .email::before,
    .skype::before {
        content: '';
        transform: scale(1.1);
    }
}


@media screen and (min-width:2000px) {
    html {
        font-size: 1.7px;
    }

    .social a {
        transform: scale(1.6);
    }

    .phone-number::before,
    .email::before,
    .skype::before {
        content: '';
        top: 10px;
        transform: scale(1.5);
    }
    .line::before {
        content: '';
        left: -15rem;
        width: 1px;
        height: 51rem;
    }
    .popular-projects-line {
        justify-content: space-between;
    }
}